[
  {
    title: "Site3"
    paths: [
      "J:\\xampp\\htdocs\\wp\\site3"
    ]
    devMode: true
  }
  {
    title: "Site1"
    paths: [
      "J:\\xampp\\htdocs\\wp\\site1"
    ]
    devMode: true
  }
  {
    title: "Site2"
    paths: [
      "J:\\xampp\\htdocs\\wp\\site2"
    ]
    devMode: true
  }
  {
    title: "Bootstrap 4 Test"
    paths: [
      "J:\\xampp\\htdocs\\bootstrap-4-test"
    ]
    devMode: true
  }
  {
    title: "Sb Agency"
    paths: [
      "J:\\xampp\\htdocs\\bootstrap-4-test\\sb-agency"
    ]
    devMode: true
  }
  {
    title: "Framemacz"
    paths: [
      "J:\\xampp\\htdocs\\wp\\site3\\wp-content\\themes\\framemacz"
    ]
    devMode: true
  }
  {
    title: "Rbtm Cpts"
    paths: [
      "J:\\xampp\\htdocs\\wp\\site3\\wp-content\\plugins\\rbtm_cpts"
    ]
    devMode: true
  }
  {
    title: "Auberge Theme"
    paths: [
      "J:\\xampp\\htdocs\\wp\\site1\\wp-content\\themes\\auberge"
      "J:\\xampp\\htdocs\\wp\\site1\\wp-content\\themes\\auberge-child"
    ]
    devMode: true
  }
  {
    title: "Pxmacz"
    paths: [
      "J:\\xampp\\htdocs\\wp\\site4\\wp-content\\themes\\pxmacz"
    ]
    devMode: true
  }
  {
    title: "Flash"
    paths: [
      "J:\\xampp\\htdocs\\wp\\site4\\wp-content\\themes\\flash"
      "J:\\xampp\\htdocs\\wp\\site4\\wp-content\\plugins\\woocommerce\\templates"
    ]
    devMode: true
  }
  {
    title: "WP API - related Post"
    paths: [
      "J:\\xampp\\htdocs\\wp\\site4\\wp-content\\plugins\\gofurtherz"
    ]
  }
  {
    title: "Relpost Rbtm"
    paths: [
      "J:\\xampp\\htdocs\\wp\\site4\\wp-content\\plugins\\relpost-rbtm"
      "G:\\MyTutorials\\MyExercise\\Raymacz.MyCode\\Raymacz.Custom.WP.Plugins\\Movies Post Type"
      "G:\\MyTutorials\\MyExercise\\Raymacz.MyCode\\Tutorials.MyCode\\Lynda. jQuery for Web Designers & 30 Days to Learn jQuery\\30 Days to Learn jQuery\\MyCode\\lesson-22"
      "G:\\MyTutorials\\MyExercise\\Raymacz.MyCode\\Tutorials.MyCode\\Lynda. jQuery for Web Designers & 30 Days to Learn jQuery\\30 Days to Learn jQuery\\MyCode\\lesson-26"
    ]
    devMode: true
  }
  {
    title: "Generatepress"
    paths: [
      "J:\\xampp\\htdocs\\wp\\site2\\wp-content\\themes\\generatepress"
      "J:\\xampp\\htdocs\\wp\\site2\\wp-content\\themes\\generatepress-child"
    ]
  }
  {
    title: "Vegas Slider"
    paths: [
      "G:\\MyTutorials\\MyExercise\\Raymacz.MyCode\\WP Scripts Collection\\Vegas_raymacz"
    ]
  }
]
